/* styles.css */

.panel-container {
    padding: 20px;
    background-color: #fff; /* Set a white background for the panel */
  }
  
  .panel-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
  

  .root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* Other styles if needed */
  }
  
